<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ServerIp" value="127.0.0.1"/>
		<add key="ServerPort" value="2222"/>
		<add key="Password" value="81784187"/>
		<add key="LocalPort" value="9945"/>
		<add key="RemotePort" value="13389"/>
		<add key="ProtocolType" value="Tcp"/>
	</appSettings>
</configuration>